<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/style.css/">
    <meta charset="UTF-8">
    <title>Budget_app</title>
</head>
<body>
<container>
    <header><h1>Budżet domowy</h1></header>
<div>
<form method="post" name="expense" action="dodaj-wydatek/">
    {% csrf_token %}
    <h1>DODAJ WYDATEK</h1><br>
    Opis:<input name="description" type="text"><br>
    Kwota:<input name="amount" type="number" step="0.1">zł.<br>
    Data:<input type="date" name="date" value="{{today}}"><br>
    Kategoria:<br>
    {%for c in category%}
        <label><input name="category" type="radio" id="{{c.name}}" value="{{c.id}}">{{c.name}}</label><br>
    {%endfor%}
    <input type="submit" value="OK">
    </form>
</div>
<br>
<div>
    <form method="post" name="expense" action="dodaj-wplyw/">
        {% csrf_token %}
        <h1>DODAJ PRZYCHÓD</h1><br>
        Kwota:<input name="amount" type="number" step="0.1">zł.<br>
        Data:<input type="date" name="date" value="{{today}}"><br>
        <input type="submit" value="OK">
    </form>
</div>
</container>
</body>
<footer>
    <h3>Wersja 1.0, Autor: Patryk</h3><br>
</footer>
</html>