<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {{pop}}
        <select name="family_member">
            {%for member in family_member%}
            <option value="{{member.id}}">{{member.name}}</option>
            {%endfor%}
            <option value="new">Dodaj nowego użytkownika</option>
        </select><br>
            <input type="text" name="new_family_member" value="Imię"> <br>
        <button type="submit">Zaloguj</button>
    </form>

</body>
</html>